
nav ~ div > div:nth-child(2) {
	background-image: url(./bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ant-table {
    backdrop-filter: blur(3px);
    background: rgb(255 255 255 / 50%);
}